html, body {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: black;
  /* This centers our sketch horizontally. */
  justify-content: center;

}
@font-face {
    font-family: pressStart;
    src: url(PressStart2P-Regular.ttf);
}
button {
  font-family: pressStart;
  font-size: 20px;
  border: 5px solid white;
  padding: 20px;
  color: white;
  background: black;
  text-align: center;
}

button:hover {
  color: black;
  background: white;
}
canvas {
  display: block;
}
